.error-header {
    color: red;
    font-weight: 1000;
}

.custom-btn {
    margin: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

img {
    max-height: 350px;
}
