.tag-card {
  background-color: #F6C937;
  border-radius: 11.5px;
  padding: 4px 8px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tag {
  color: white;
  font-size: 12px;
  font-family: OpenSans-Bold;
}
