.w-fix {
  width: 95px;
  min-height: calc(100vh - 40px);
  height: calc(100vh - 40px);
  margin: 20px 0 20px 20px;

  @media screen and (orientation:landscape) and (max-height: 600px) {
    height: fit-content;
  }
}

.w-expand {
  width: calc(100% - 115px);
}

//mobile will include address bar also
.min-vh {
  min-height: 92vh;
}

.align-end {
  display: flex;
  align-items: flex-end;
}