<div class="bg selected-color flex-between flex-col" *ngIf="(isXSmall$ | async) === false">
        <div class="flex-col flex-center">
                <img src="assets/images/logo.svg" class="pb-20 pt-8" alt="logo">
                <a role="link" routerLink="/home" class="m-20 flex-center" routerLinkActive="router-link-active extra-margin">
                        <img class="wh-20" src="assets/images/icons/home.svg" alt="home">
                </a>
                <a routerLink="/breifcase" class="m-20 flex-center" routerLinkActive="router-link-active extra-margin">
                        <img class="wh-20" src="assets/images/icons/briefcase.svg" alt="briefcase">
                </a>
                <a routerLink="/compass" class="m-20 flex-center" routerLinkActive="router-link-active extra-margin">
                        <img class="wh-20" src="assets/images/icons/compass.svg" alt="compass">
                </a>
                <a routerLink="/notifications" class="m-20 flex-center relative" routerLinkActive="router-link-active extra-margin">
                        <img class="wh-20" src="assets/images/icons/bell.svg" alt="bell">
                        <div class="dot"></div>
                </a>
                <a routerLink="/settings" class="m-20 flex-center" routerLinkActive="router-link-active extra-margin">
                        <img class="wh-20" src="assets/images/icons/gear.svg" alt="gear">
                </a>
        </div>
        <div class="pt-30">
                <a routerLink="/logout" class="m-20 flex-center" routerLinkActive="router-link-active extra-margin">
                        <img class="wh-20" src="assets/images/icons/log-out.svg" alt="log-out">
                </a>
        </div>
</div>

<div class="selected-color small-bg flex-between" *ngIf="(isXSmall$ | async) === true">
        <a routerLink="/notifications" class="m-10 flex-center relative" routerLinkActive="router-link-active">
                <img class="wh-20" src="assets/images/icons/bell.svg" alt="bell">
                <div class="dot"></div>
        </a>
        <a routerLink="/breifcase" class="m-10 flex-center" routerLinkActive="router-link-active">
                <img class="wh-20" src="assets/images/icons/briefcase.svg" alt="briefcase">
        </a>
        <a routerLink="/home" class="m-10 flex-center" routerLinkActive="router-link-active">
                <img class="wh-20" src="assets/images/icons/home.svg" alt="home">
        </a>
        <a routerLink="/compass" class="m-10 flex-center" routerLinkActive="router-link-active">
                <img class="wh-20" src="assets/images/icons/compass.svg" alt="compass">
        </a>
        <a routerLink="/settings" class="m-10 flex-center" routerLinkActive="router-link-active">
                <img class="wh-20" src="assets/images/icons/gear.svg" alt="gear">
        </a>
</div>