.bg {
  border-radius: 20px;
  padding: 20px 10px;
  height: calc(100% - 40px);
}

.small-bg {
  border-radius: 20px;
  margin: 0 16px 8px 16px;
  box-shadow: 0 5px 20px 0px rgba(43, 46, 207, 0.5);
  padding: 0px 10px;
}

.wh-20 {
  width: 20px;
  height: 20px;
}

.router-link-active {
  background-color: #FF0066;
  border-radius: 50%;
  padding: 12px;
}

.dot {
  background-color: #FF0066;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -4px;
  right: -4px
}